<section class="contenido-superior vacante contenedor">
    <div class="caja">
        <p class="etiqueta">Empresa:</p>
        <p class="nombre">{{vacancy.company}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Ubicación:</p>
        <p class="nombre">{{vacancy.ubication}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Contrato:</p>
        <p class="nombre">{{vacancy.contract}}</p>
    </div>
    <div class="caja">
        <p class="etiqueta">Salario:</p>
        <p class="nombre">$ {{vacancy.salary}} USD</p>
    </div>
</section>

<section class="vacante-contenedor contenedor">
    <section class="contenido">
        <h2>Descripción del puesto</h2>
        <div class="vacante-descripcion">
            {{{vacancy.description}}}
        </div>
        <a href="/vacancy/edit/{{vacancy.url}}" class="btn btn-azul editar-btn">editar vacante</a>
    </section>
    <aside class="sidebar">
        <h2>Habilidades Tecnicas</h2>
        <ul class="skills">
            {{#each vacancy.skills}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </aside>
</section>

<div class="contenedor datos-reclutador">
    <div class="enviar-datos"></div>
    <div class="info-reclutador">
        <h2>Información Reclutador</h2>
        {{#if vacancy.autor.name}}
            <p>{{vacancy.autor.name}}</p>
        {{/if}}

        {{#if vacancy.autor.image}}
            <img src="/uploads/profiles/{{vacancy.autor.image}}" />
        {{/if}}
    </div>
</div>