<main class="lista-vacantes">
    <h2>Navegación</h2>
    <div class="botones separador">
        <a href="/account/profile" class="btn btn-azul">Editar Perfil</a>
        <a href="/vacancies/new" class="btn btn-verde">publicar vacante</a>
    </div>
    <h2>TUS VACANTES</h2>
    <div class="panel-administracion">
        {{#if vacancy.length}}
            {{#each vacancy}}
                <div class="vacante">
                    <div class="caja">
                        <h3>{{company}}</h3>
                        <p class="puesto">{{title}}</p>
                    </div>
                    <div class="centrar-vertical caja">
                        <a href="/candidates/{{id}}" class="btn btn-amarillo">Candidatos</a>
                    </div>

                    <div class="centrar-vertical caja">
                        <a href="/vacancy/edit/{{url}}" class="btn btn-verde">editar</a>
                    </div>

                    <div class="centrar-vertical caja">
                        <a href="/vacancy/delete/{{id}}" data-eliminar={{id}} class="btn btn-rojo">eliminar</a>
                    </div>

                </div>
            {{/each}}
        {{else}}
            <p>No hay vacantes creadas, crea una vacante para poder visualizar</p>
        {{/if}}
    </div>
</main>